<ul>
<%= if @current_user do %>
  <li class="nav-text flex "><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
  <li class="nav-text flex "><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li class="nav-text flex "><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>
</ul>
